

<div class="col-md-6">
    Route one <br />
    type in the box to change the text!<br />
    <div>
        <input type="text" ng-model="models.helloAngular" />
        <h3><b>{{models.helloAngular}}</b></h3>
    </div>
</div>
